<!DOCTYPE html>
<html>
  <head>
    <title>RC Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
      body { font-family: Arial; text-align: center; margin:0px auto; padding-top: 30px;}
      table { margin-left: auto; margin-right: auto; }
      td { padding: 8 px; }
      .button {
        background-color: #2f4468;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 6px 3px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
      img {  width: auto ;
        max-width: 100% ;
        height: auto ;
      }
    </style>

  </head>

  <body>
    <h1>RC Car</h1>
    <table>
      <tr>
        <td colspan="3" align="center">
          <button class="button btn btn-primary btn-sm mb-3" onmousedown="forward();" ontouchstart="forward();" onmouseup="stop();" ontouchend="stop();">Forward</button>
        </td>
      </tr>

      <tr>
        <td align="center">
          <button class="button btn btn-primary btn-sm mb-3" onmousedown="left();" ontouchstart="left();" onmouseup="stop();" ontouchend="stop();">Left</button>
        </td>

        <td align="center">
          <button class="button btn btn-primary btn-sm mb-3" onmousedown="stop();" ontouchstart="stop();">Stop</button>
        </td>

        <td align="center">
          <button class="button btn btn-primary btn-sm mb-3" onmousedown="right();" ontouchstart="right();" onmouseup="stop();" ontouchend="stop();">Right</button>
        </td>
      </tr>

      <tr>
        <td colspan="3" align="center">
          <button class="button btn btn-primary btn-sm mb-3" onmousedown="backward();" ontouchstart="backward();" onmouseup="stop();" ontouchend="stop();">Backward</button>
        </td>
      </tr>

<!--      <tr>-->
<!--        <td align="center">-->
<!--          <div class="dropdown">-->
<!--            <button onclick="" class="button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Accessory-->
<!--            </button>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" onclick="sequentialFlashing()">Sequential Flashing</a></li>-->
<!--              <li><a class="dropdown-item" onclick="policeLights()">Police Lights</a></li>-->
<!--              <li><a class="dropdown-item" onclick="pairedFlashing()">Paired Flashing</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td align="center">-->
<!--          <div class="dropdown">-->
<!--            <button onclick="" class="button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Flash Speed-->
<!--            </button>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><input class="form-check-input" type="radio" name="flexRadioDefault" id="slowFlashSpeed">Slow</input></li>-->
<!--              <li><input class="form-check-input" type="radio" name="flexRadioDefault" id="intermediateFlashSpeed" checked>Intermediate</input></li>-->
<!--              <li><input class="form-check-input" type="radio" name="flexRadioDefault" id="fastFlashSpeed">Fast</input></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->

    </table>

    <form action="/lights" method="POST">
<!--      <div class="dropdown">-->
<!--        <button onclick="" class="button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Accessory-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
        <ul>
          <li><input class="form-check-input" type="radio" name="type"  value="sequential" id="sequentialFlashingLights">Sequential Flashing</input></li>
          <li><input class="form-check-input" type="radio" name="type"  value="police" id="flashingPoliceLights" checked>Police Lights</input></li>
          <li><input class="form-check-input" type="radio" name="type"  value="paired" id="pairedFlashingLights">Paired Flashing</input></li>
        </ul>
<!--        <button class="button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Flash Speed-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
        <ul>
          <li><input class="form-check-input" type="radio" name="speed" value="slow" id="slowFlashSpeed">Slow</input></li>
          <li><input class="form-check-input" type="radio" name="speed" value="intermediate" id="intermediateFlashSpeed" checked>Intermediate</input></li>
          <li><input class="form-check-input" type="radio" name="speed" value="fast" id="fastFlashSpeed">Fast</input></li>
        </ul>
        <input type="number" min="1" max="1000" name="duration" value="5">Flash Duration</input>
<!--      </div>-->
<!--      <input type="radio" name="input1" placeholder="First Number">-->
<!--      <input type="radio" name="input2" placeholder="Second Number">-->
<!--      <input type="radio" name="input2" placeholder="Second Number">-->

      <input class="button btn btn-primary btn-sm mb-3" type="submit" value="Start">
    </form>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
